<div class="container-new">

<h1>Stupid Coach</h1>
<h2></h2>

<h3>
  Question: <%= @question %>
</h3>
<br>

<h3>
  Answer: <%= @answer %>
</h3>
<div class="btn">
<%= link_to "Ask another question?", ask_path %>
</div>

</div>

