<div class="container-new">
  <h1>Stupid Coach</h1>
  <h2>Ask your coach anything</h2>

  <form class="form-submit" action="/answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
