// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-new {
  margin: auto;
  width: 500px;
  text-align: center;

}

a {
  color: white;
  text-decoration: none;
}

.btn {
  padding: 10px 10px;
  background: #3293DB;
  width: 200px;
  margin: auto;
}
